/* Move down content because we have a fixed navbar that is 50px tall */
body {
  background-color: #A0D9D3;
  margin: 0px;
}

#landing {
  height: 100%;
}

#pillow {
	position: relative;
	width: 80%;
	height: auto;
	margin-left: auto;
  margin-right: auto;
}

#header {
  margin-top: 2em;
  margin-bottom: 1em;
}

#heart {
  width: 100%;
  margin-top: 2em;
}

#phone {
  width: 100%;
  border: solid 8px #e6e6e6;
  border-radius: 10px;
}

h1{
	font-family: 'Open Sans';
	font-weight: bold;
  color: #334543;
  font-size: 2em;
  margin-bottom: -0.4em;
}

p {
	font-family: 'Open Sans';
	font-size: 1.2em;
}

h2 {
  font-family: 'Open Sans';
  font-weight: bold;
  color: #334543;
  font-size: 1.5em;
  text-align: center;
}

#descrip {
  padding-top: 0px;
	padding-bottom: 60px;
  color: #2c2c2c;
}

h2 {
	font-family: 'Open Sans';
	font-weight: bold;
	margin-left: 10%;
	margin-right: 10%;
}

#first{
	background-color: #F8F8F8;
	padding-top: 60px;
	padding-bottom: 60px;
	height: 160%;
}

#one, #three {
  text-align: left;
  
}

#two {
  text-align: left;
  margin: 0;
}

#time {
	width: 100%;
	height: auto;
  margin-bottom: 2em;
}

#second {
	background-color: #EEEEEE;
	padding-top: 60px;
	padding-bottom: 60px;
}

#third{
	padding-bottom: 60px;
	padding-top: 60px;
}

#fourth {
	background-color: #F8F8F8;
	padding-top: 60px;
  padding-bottom: 60px;
	text-align: center;
}

table{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

tr {
  vertical-align: middle;
}

td {
  text-align: center;
}
.row {
  padding-left: 10%;
  padding-right: 10%;
}

