/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.range li{
	margin-right: 8%;
	display:inline;
}

#menu {
	background-color: #528540;
	font-family: 'Open Sans';
	border: none;
	padding: 1em;
}

.navbar-brand {
	font-family: 'Open Sans';
	font-size: 2em;
	color: #fff !important;
}

#header {
	font-family: 'Open Sans';
	text-align: center;
	background-color: #ACD97E;
	padding: 2em;
}

.jumbotron {
	background-color: #ACD97E;
}

#desc {
	margin: 2em;
}

#title {
	font-weight: bold;
	position: fixed;
	bottom: 450px;
	left: 41%;
	font-size: 120%;
}

#footer {
	position: fixed;
	bottom: 0px;
}